
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100vw;
}
.boite{
    border: 1px solid #609DA0;
    border-radius: 10px;
    margin: 20px;
}
.titre{
    background: #609DA0;
    width:100%;
    margin:0;
    color: #fff;
    border-top-left-radius: 9px;
    text-align: center;
    padding: 2px;
}

.inputBox{
    position:relative;
}
.inputBox input{
    width:90%;
    border: 1px solid #609DA0;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    margin:10px;
    transition : 0.5s;
}
.inputBox textarea{
    width:90%;
    border: 1px solid #609DA0;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    margin:10px;
    transition : 0.5s;
}
.inputBox span{
    position: absolute;
    padding:10px;
    z-index:1;
    left:10px;
    top:7px;
    pointer-events:none;
    transition: 0.5s;
    color:rgba(128, 128, 128, 0.676);
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color:white;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding:0 5px;
    background:#609DA0;
    border-radius: 5px;

}
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span{
    color:white;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding:0 5px;
    background:#609DA0;
    border-radius: 5px;

}
.inputBox input:valid,
.inputBox input:focus{
    border:1px solid #609DA0;

}
.pp{
    display:none;
    transition: 0.5s;
}
.inputBox input:valid ~ .pp,
.inputBox input:focus ~ .pp{
    display:block;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding:0 2px;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}
.btnajouter{
    color:white;
    background: #609DA0;
    border: 1px solid rgba(128, 128, 128, 0.409);
    border-radius: 5px;
    padding: 5px 10px;
    width:75%;
    margin:10px;
}
.btnMisajour{
    color:white;
    background: #03FFCC;
    border: 1px solid rgba(128, 128, 128, 0.409);
    border-radius: 5px;
    padding: 5px 10px;
    width:75%;
    margin:10px;
    margin-left: 10%;
    display: none;
}
.containertache{
    border-left: 1px solid #609DA0;
}
.containergraphique{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #609DA0;

}
.titretache{
    color: #609DA0;
    margin: 20px auto;
}
.containerdescription{
    width: 100%;
    min-height:100px;
    padding: 10px;
    border: 1px solid #609DA0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tetetableau{
    color: white;
    background: #609DA0;
}
.containertacheee{
    position: relative;
}
.notification{
    position: absolute;
    background-color: #fff;
    top: 0;
    right: -40px;
    text-align: center;
    border: 1px solid #609DA0;
    border-radius: 10px;
    z-index: 10;
    display: none;
}
.notification>h3{
    background-color: #609DA0;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.notification>p{
    padding: 0 10px;
}
.containertab{
    width: 100%;
}


/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; 
 } */

 .table-striped > tbody > tr:nth-child(2n) > td, 
 .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #60b9bd8d; 
 }
.views, .sup, .edit{
    background-color: red;
    padding: 3px;
    border-radius: 5px;
    z-index :100;
}
.views{
    background-color: rgb(0, 195, 255);
}
.edit{
    background-color: rgb(0, 255, 166);
}
.infotache{
    visibility: hidden;
    min-width:400px;
    position:absolute;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.245);
    top: 50%;
    left: calc(100% - 85%);
    z-index:10;
    background:white;
}
.infotache>h3{
    text-align: center;
    background-color: #609DA0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: #fff;
    padding: 35px auto;
}
.inf{
    color:#609DA0;
}

.sortie{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 9;
    display: none;
    cursor: default;
    background-color: #ffffff92;
}


@media screen and (max-width:425px) {
    
    .infotache{
        min-width:380px;
        top: 50%;
        left: 10px;
    }
    .sortie{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width:100%;
        height: 100%;
    }

}
@media screen and (max-width:375px) {
    
    .containertab{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .tetetableau{
        font-size: 14px;
    }
    .boite{
        border: 1px solid #609DA0;
        border-radius: 10px;
        margin: 0;
    }
    .infotache{
        min-width:300px;
        top: 50%;
        left: 5px;
    }
    .sortie{
        position: absolute;
        top: 10%;
        left: 0;
        bottom: 1px;
        width:100%;
        height: 100%;
    }

}
@media screen and (max-width:320px) {
    
    .containertab{
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    .tetetableau{
        font-size: 10px;
    }
    .boite{
        border: 1px solid #609DA0;
        border-radius: 10px;
        margin: 0;
    }
    .infotache{
        min-width:280px;
        top: 50%;
        left: 5px;
    }
    .sortie{
        position: absolute;
        top: 10%;
        left: 0;
        bottom: 1px;
        width:100%;
        height: 100%;
    }

}